
<div class="outer">
  <form class="example-form" [formGroup]="loginForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">

      <mat-error *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid">
        Please enter a valid email address
      </mat-error>

    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password">

      <mat-error *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Please enter a valid email address
      </mat-error>

    </mat-form-field>

    <button [disabled]="loginForm.invalid" mat-raised-button class="sign-in-button">Sign In</button>
  </form>
</div>
