<div class="main-wrap">
  <div class="container-wrap">
    <div class="left">
      <p class="company-name">
        WooMoo Online Shop
      </p>
      <div class="loading-area">
<div class="inner-wrap">
  <ul class="list">
    <li routerLinkActive="activate-route" routerLink="/auth/login/access">
      <span>Login</span>
    </li>
    <li routerLinkActive="activate-route" routerLink="/auth/login/register">
      <span>Sign up</span>
    </li>
  </ul>
</div>
      </div>
    </div>
    <div class="right">
      <img src="https://img.wallpapersafari.com/tablet/768/1024/44/89/OP9HUu.jpg" alt="bg-img">
    </div>

  </div>
</div>
